<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Diff</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.0.0/diff.min.js" integrity="sha512-Rjml7/E2zETyVFhzIQnTEjW7PBCH5/Y4ac2uu9MGqh1JclCVHbvT1lIlcVmvAGFipi/L16eA6Jr9km2zit9Tfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        body {
            font-family: 'Inter var', sans-serif;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div style="padding: 1rem; background-color: #f7f7f7; border-radius: 8px; margin-bottom: 1.5rem; display: inline-block;">
        <div style="margin-bottom: .5rem;">
            <b>Test Name:</b> {TEST NAME}
        </div>
    
        <div>
            <b>Template Name:</b> {TEMPLATE NAME}
        </div>
    </div>

    <div id="result"></div>

    <script>
        let fileContent = `{CONTENT INITIAL}`,
            generatedContent = `{CONTENT FINAL}`
    
        let diff = Diff.createTwoFilesPatch('First Content', 'Second Content', fileContent, generatedContent)
    
        let html = Diff2Html.html(diff,
            {inputFormat: 'diff', showFiles: false, matching: 'lines', outputFormat: 'side-by-side'}
        )
        
        document.getElementById('result').innerHTML = html
    </script>
</body>
</html>