@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    -webkit-app-region: no-drag;
} */

.titlebar {
  -webkit-app-region: drag;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-color: currentColor;
}

.dark .hljs {
  background: #091023;
  border-radius: 0.5rem !important;
  border: 1px solid;
  border-color: rgb(46 58 72 / var(--tw-border-opacity)) !important;
  cursor: not-allowed;
}

/* Diff to HTML */
.dark .d2h-wrapper {
  @apply bg-slate-900;
  @apply text-slate-200;
  @apply border-none;
  @apply rounded-lg;
  @apply p-4;
  @apply overflow-auto;
  @apply shadow-lg;
}
.dark .d2h-file-header {
  display: none;
}
.dark .d2h-file-wrapper {
  border: none;
}
.dark .d2h-code-side-linenumber,
.dark .d2h-info,
.dark .d2h-emptyplaceholder,
.dark .d2h-code-side-emptyplaceholder {
  @apply bg-slate-900;
  @apply text-slate-200;
  @apply border-none;
}
.dark .d2h-code-side-linenumber:after {
  content: none;
}
.dark .d2h-code-side-linenumber {
  @apply bg-slate-800;
  @apply text-slate-200;
  @apply border-none;
}
.dark .d2h-del {
  @apply text-red-400;
  @apply bg-slate-900;
}
.dark .d2h-ins {
  @apply text-green-400;
  @apply bg-slate-900;
}
.dark .d2h-code-line-ctn del {
  @apply px-1;
  @apply bg-slate-800;
  @apply font-semibold;
}
.dark .d2h-code-line-ctn ins {
  @apply px-1;
  @apply bg-slate-800;
  @apply font-semibold;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  height: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover, ::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  /* This is the EXACT color of Mac OS scrollbars. 
      Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
  min-width: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}