@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    -webkit-app-region: no-drag;
} */

.notyf {
  z-index: 999999 !important;
}
.notyf__wrapper {
  z-index: 999999 !important;
}

.titlebar {
  -webkit-app-region: drag;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-color: currentColor;
}

.dark .hljs {
  background: #091023;
  border-radius: 0.5rem !important;
  border: 1px solid;
  border-color: rgb(46 58 72 / var(--tw-border-opacity)) !important;
  cursor: not-allowed;
}

/* Diff to HTML */
.d2h-diff-table {
  @apply font-mono;
  font-size: 0.9rem;
}
.d2h-code-side-linenumber {
  position: relative;
}
.d2h-code-side-line {
  padding-left: 1rem;
}
.d2h-code-side-linenumber {
  @apply border-none;
  @apply text-sm;
  opacity: 0.3;
}
.d2h-code-side-linenumber:hover {
  opacity: 1;
}
.d2h-info {
  display: none;
}

.dark .d2h-wrapper {
  @apply bg-slate-900;
  @apply text-slate-200;
  @apply border-none;
  @apply rounded-lg;
  @apply p-4;
  @apply overflow-auto;
  @apply shadow-lg;
}
.dark .d2h-file-header {
  display: none;
}
.dark .d2h-file-wrapper {
  border: none;
}
.dark .d2h-code-side-linenumber,
.dark .d2h-info,
.dark .d2h-emptyplaceholder,
.dark .d2h-code-side-emptyplaceholder {
  @apply bg-slate-950;
  @apply text-slate-200;
  @apply border-none;
}
.dark .d2h-code-side-linenumber:after {
  content: none;
}
.dark .d2h-code-side-linenumber {
  /* @apply bg-slate-800; */
  @apply text-slate-200;
  @apply border-none;
}
.dark .d2h-del {
  @apply text-red-450;
  @apply bg-slate-900;
}
.dark .d2h-ins {
  @apply text-green-500;
  @apply bg-slate-900;
}
.dark .d2h-code-line-ctn del {
  @apply px-1;
  @apply bg-slate-800;
  @apply font-semibold;
}
.dark .d2h-code-line-ctn ins {
  @apply px-1;
  @apply bg-slate-800;
  @apply font-semibold;
}

/* Vue3 Tags Input */

.v3ti {
  @apply rounded-lg !important;
  @apply p-[0.05rem] !important;
}

.v3ti .v3ti-tag {
  @apply text-slate-200 !important;
  @apply border border-slate-700 !important;
  @apply bg-slate-800 !important;
  @apply rounded-md !important;
  @apply pl-2 !important;
  @apply font-thin !important;
}

.v3ti .v3ti-tag .v3ti-remove-tag {
  color: #222 !important;
  transition: color .3s;
}

.v3ti .v3ti-tag span {
  @apply outline-none !important;
  @apply px-2 !important;
  @apply border border-transparent !important;
  @apply rounded !important;
}

.v3ti .v3ti-tag span:focus {
  @apply border-red-500 !important;
}

.v3ti .v3ti-tag .v3ti-remove-tag {
  @apply text-red-500 !important;
  @apply pl-2;
}

.v3ti .v3ti-tag .v3ti-remove-tag:hover {
  @apply text-red-500 !important;
}

.v3ti .v3ti-new-tag::placeholder {
  @apply font-thin !important;
  @apply text-slate-400 dark:text-slate-500 !important;
}

.v3ti-context-menu {
  background: #1e293b !important; /* bg-slate-800 */
  max-height: 300px !important;
}

.v3ti .v3ti-context-menu .v3ti-context-item:hover {
  background: #334155 !important; /* bg-slate-700 */
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  height: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover, ::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  /* This is the EXACT color of Mac OS scrollbars. 
      Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
  min-width: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

/* Wunderbaum */
div.wunderbaum {
  outline: none !important;
  border: none !important;
}

:root,
:host {
  --wb-background-color: transparent !important;
  --wb-node-text-color: @apply text-slate-200 !important;
  --wb-bg-highlight-color: #1e293b !important;
  --wb-active-color: #1e293b !important;
  --wb-active-hover-color: #1e293b !important;
  --wb-active-border-color: #ef4444 !important;
  --wb-active-hover-border-color: #ef4444 !important;
  --wb-active-color-grayscale: #1e293b !important;
  --wb-active-border-color-grayscale: #ef4444 !important;
  --wb-hover-color: #1e293b !important;
  --wb-active-cell-color: #1e293b !important;
}