@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    -webkit-app-region: no-drag;
} */

.titlebar {
    -webkit-app-region: drag;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-color: currentColor;
}